extends layout 

block content 

   div(style="flex-grow: 1; display: flex; align-items: center; flex-direction: column")
      h2.contentHeaderText= title
      form(action="" method="POST" style="width: fit-content") 
         div.inputGroup
            label(for="name") Name 
            input#name.form-control(type="text" name="name" maxlength=20 value=(category ? category.name : ''))
         div.inputGroup
            label(for="description") Description 
            textarea#description.form-control(name='description' rows=4 maxlength=110) #{category ? category.description : ''}
         div.inputGroup
            label(for="category") Category
            select#category.form-control(name='category')
               each category in categories
                  option(value=category._id, selected=(category.selected) ? 'selected' : '') #{category.name}
         div.inputGroup
            label(for="price") Price
            input#price.form-control(type="tel" name="price" maxlength=7 value=(category ? category.price : ''))
         div.inputGroup
            label(for="count") Count
            input#count.form-control(type="tel" name="count" maxlength=5 value=(category ? category.count : ''))
         button(style="width: 80px;" type="submit") Submit