extends layout 

block content 
   div.flexCenter(style="min-height: 175px")
      div.contentHeader(style="margin-bottom: 24px; height: 100%")
            block header

   div.cardGrid
      block grid